body
{ font-family: calibri;
font-size: 12pt;
line-height: 14pt;
}

html, body {
min-height: 100%;
}

p {
font-family: calibri;
font-size: 16px;
color: black;
}

h1 {
font-family: calibri;
font-size: 50px;
color: orange;
}

h2 {
font-family: calibri;
font-size: 24px;
color: orange;
}

header {
width: 100%;
background-color: #ff0000;
text-align: center;
color: orange;
padding: 10px;
}

#footer {
position: absolute;
bottom: 0;
width: 100%;
height: 100px; /* Height of the footer */
background-color: #0000ff;
text-align: center;
padding: 1px;
color: #FFFFFF;
}

table {
width: 100%;
}

table th, td {
border: 1px solid black;
border-radius: 10px;
text-align: center;
}
	
body { font-family: calibri;
font-size: 12pt;
line-height: 14pt;
}

html, body {
min-height: 100%;
}

p {
font-family: calibri;
font-size: 16px;
color: black;
}

h1 {
font-family: calibri;
font-size: 50px;
color: orange;
}

h2 {
font-family: calibri;
font-size: 24px;
color: orange;
}

header {
width: 100%;
background-color: #ff0000;
text-align: center;
color: orange;
padding: 10px;
}

#footer {
position: absolute;
bottom: 0;
width: 100%;
height: 100px; /* Height of the footer */
background-color: #0000ff;
text-align: center;
padding: 1px;
color: #FFFFFF;
}

tr {
height: 160px;
}

#markt {
width: 25%;
bgcolor: #FFFF99;
}
	
#feest {
width: 25%;
bgcolor: #FF9999;
}
	
.img-feest {
width: 100px;
height: 60px;
}
	
#snoep {
width: 25%;
bgcolor: #996666;
}
	
#slingers {
width: 25%;
bgcolor: #990033;
}
	
.img-slingers {
width: 100px;
height: 60px;
}

tr {
height: 160px;
}
	
#oranje {
width: 25%;
bgcolor: #FF9900;
}
	
#hapjes {
width: 25%;
bgcolor: #3333FF;
}
	
.img-hapjes {
width: 192px;
height: 160px;
}
	
#speelgoed {
width: 25%;
bgcolor: #33FF33;
}
	
#spelletjes {
width: 25%;
bgcolor: #996600;
}
	
.img-spelletjes {
width: 192px;
height: 160px;
}
	
tr {
height: 160px;
}
	
#koning {
width: 25%;
bgcolor: #CC6600;
}
	
#koningin {
width: 25%;
bgcolor: #CC0000;
}
	
.img-koningin {
width: 192px;
height: 160px;
}
	
#prinses {
width: 25%;
bgcolor: #33CCCC;
}
	
#kroon {
width: 25%;
bgcolor: #FFCCCC;
}
	
.img-kroon {
width: 192px;
height: 160px;
}
	
tr {
height: 160px;
}
	
#jarig {
width: 25%;
bgcolor: #66FFCC;
}
	
#taart {
width: 25%;
bgcolor: #FF0066;
}
	
.img-taart {
width: 192px;
height: 160px;
}
	
#spelen {
width: 25%;
bgcolor: #CCCC33;
}
	
#tulpen {
width: 25%;
bgcolor: #333333;
}
	
.img-tulpen {
width: 192px;
height: 160px;
}
